APP_NAME = "excel-rag"
APP_VERSION = "0.0.1"

FILE_ALLOWED_TYPES = ["xlsx", "xls"]

# DATABASE
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="excel-rag"